.centralizado {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

/** Progressbar **/
#progressbar div.progress-label {
  position: absolute;
  left: 47%;
  top: 4px;
  font-weight: bold;
  font-size: 12px
}

/** Tabela */
#TabelaGR {
  width: 100%;
}

/** Colunas **/
.columnHide{
  display: none;
}

.columnNowrap {
  width: 10px;
  white-space: nowrap;
}

.columnMax150 {
  max-width: 150px;
}

.tablesorter-header-inner {
  font-weight: bold;
  text-align: center;
}

/** links **/
#TabelaGR a, #TabelaGR a:link {
  color: blue;
}
#TabelaGR a:hover {
  color: #00539f;
}
#TabelaGR a:active {
  color: #00539f;
}

/** Processos **/
#TabelaGR > tbody > tr > td:nth-child(1) div[id^='proc'] {
  display: flex;
}
#TabelaGR > tbody > tr > td:nth-child(1) div:nth-child(2) {
  padding: 10px;
}
#TabelaGR > tbody > tr > td:nth-child(1) div[id^='proc'] img {
  padding-left: 5px;
}

/** Anotação **/
#tdanotacao {
  position: relative;
  padding: 0px;
  height: 100%;
}
.anotacao {
  display: table;
  height: 100%;
  width: 100%;
}
.anotacao[prioridade='true'] {
  background-color: rgb(252, 70, 70);
}
.anotacao[prioridade='false'] {
  background-color: rgb(234, 230, 114);
}

/** Marcador **/
.tdmarcador { padding: 0px; }
.marcador { padding: 3px; }
.marcador > div#img {
  display: flex;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.marcador > div#img > img {
  height: 16px;
}
.marcador > div:text {
  padding: 5px;
}

/** Acompanhamento **/
#TabelaGR > tbody > tr > td:nth-child(5) div#img {
  display: flex;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
#TabelaGR > tbody > tr > td:nth-child(5) div:nth-child(2) {
  padding: 5px;
}

/** Comandos **/
#TabelaGR > tbody > tr > td:nth-child(6) {
  vertical-align: middle;
}
#TabelaGR > tbody > tr > td:nth-child(6) > div {
  display: table;
}
#TabelaGR > tbody > tr > td:nth-child(6) img[src="imagens/sei_concluir_processo.gif"] {
  width: 20px;
}